<div>
 <div class="iconbar">

    <img src="assets/images/hamburger.png" class ="mar-rt-20">
    <img src="assets/images/logo.png" class="iconbar mar-rt-20" >
    <img src="assets/images/profile.png" class="mar-lt-20">
     add as header and ffoter common in all pages
 </div>

 <div class="mar-top-20">
     Add quote and image
 </div>

 <div class="mar-top-20">
     add banner
 </div>

<div class="mar-top-20">
    <div>
        Daily horoscope
        <button type="button"> See all</button> 
    </div>
    <div>
        Leading astrollogers blag blah blah blah
    </div>
    <div *ngFor="astrollgers as astrollger">

    </div>

</div>


</div>